<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <a href=""><i class="fas fa-home me-2"></i> Dakahlia/Mansoura/El Modeer</a>
                    <a href="mailto:elmoassaelwatnia@gmail.com"><i class="fas fa-envelope me-2"></i> elmoassaelwatnia@gmail.com</a>
                    <a href="tel:+01555638366"><i class="fas fa-phone me-2"></i> +01555638366</a>    
                    <a href="" class="mb-3"><i class="fas fa-print me-2"></i>  +01555638366</a>
                    <div class="d-flex align-items-center"> 
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://www.facebook.com/profile.php?id=61563171204652"><i
                                class="fab fa-facebook-f"></i></a>
                        <!-- <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i
                                class="fab fa-linkedin-in"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Company</h4>    
                    <a href="https://www.facebook.com/MansouraUniversityOfficial"><i class="fas fa-angle-right me-2"></i> Mansoura University</a>
                    <a href="https://www.facebook.com/cu.edu.eg"><i class="fas fa-angle-right me-2"></i> Cairo University</a>
                    <a href="https://www.facebook.com/cu.edu.eg"><i class="fas fa-angle-right me-2"></i> Ministry of Labor vocational training 2030</a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Support</h4>
                    <a href="contact"><i class="fas fa-angle-right me-2"></i> Contact</a>
                    <!-- <a href=""><i class="fas fa-angle-right me-2"></i> Legal Notice</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Terms and Conditions</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Sitemap</a> -->

                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item">
                    <div class="row gy-3 gx-2 mb-4">
                        <div class="col-xl-6">
                            <form>
                                <div class="form-floating">
                                    <select class="form-select bg-dark border" id="select1">
                                        <option value="1">Arabic</option>
                                        <option value="2">English</option>
                                    </select>
                                    <label for="select1">English</label>
                                </div>
                            </form> 
                        </div>
                        
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->


<!-- Copyright End -->

<!-- Back to Top -->


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>